pihole_admin_password: "{{ lookup('env', 'PIHOLE_ADMIN_PASSWORD') }}"
pihole_upstreams:
  - "1.1.1.1"
  - "1.0.0.1"
  - "9.9.9.9"
  - "149.112.112.112"
pihole_a_records:
  - name: "docker.allanshomelab.com"
    address: "192.168.86.205" 
  - name: "hosts.allanshomelab.com"
    address: "192.168.86.205" 
  - name: "media.allanshomelab.com"
    address: "192.168.86.205" 
  - name: "k8s.allanshomelab.com"
    address: "192.168.86.187" 
  - name: "kvm.allanshomelab.com"
    address: "192.168.86.205"
  - name: "postgres.k8s.allanshomelab.com"
    address: "192.168.86.196"     
pihole_cname_records:
  - alias: "gatus.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "dns.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "derry.hosts.allanshomelab.com"
    target: "hosts.allanshomelab.com"
  - alias: "gilead.hosts.allanshomelab.com"
    target: "hosts.allanshomelab.com"
  - alias: "shardik.hosts.allanshomelab.com"
    target: "hosts.allanshomelab.com"
  - alias: "procyon.hosts.allanshomelab.com"
    target: "hosts.allanshomelab.com"
  - alias: "sirius.hosts.allanshomelab.com"
    target: "hosts.allanshomelab.com"
  - alias: "traefik.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "whoami.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "alerts.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "homepage.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "lidarr.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "longhorn.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "dns.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "traefik.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "portainer.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "prometheus.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "radarr.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "sonarr.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "one.kvm.allanshomelab.com"
    target: "kvm.allanshomelab.com"
  - alias: "two.kvm.allanshomelab.com"
    target: "kvm.allanshomelab.com"
  - alias: "prowlarr.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "lidarr.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "radarr.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "sonarr.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "jellyfin.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "transmission.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "tautulli.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "plex.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "tools.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"

