[defaults]
stdout_callback = ansible.builtin.default
# Tell the default callback to render as YAML:
callback_result_format = yaml
# (optional) prettier wrapping for YAML:
callback_format_pretty = true
callback_enabled = write_l3_summary
callback_plugins = ./ansible/callback_plugins
host_key_checking = False
roles_path = ansible/roles
deprecation_warnings = False

[inventory]
# use the implicit localhost inventory (no inline comma syntax)
enable_plugins = host_list, script, auto, yaml, ini, toml
