HEALTHCHECKS_URL="{{ backup_runner_healthchecks_url | default('') }}"
RSYNC_FLAGS="{{ backup_runner_rsync_flags }}"
LOG_PATH="{{ backup_runner_log_path }}"
CONF_DIR="{{ backup_runner_base_dir }}/backup.conf.d"
