- name: Portainer Docker Services
  hosts: "{{ converge_group }}:&docker_compose_portainer"
  become: yes
  gather_facts: yes
  tags: [docker_portainer]

  roles:
    - role: common_docker_compose_services
      vars:
        compose_app_name: portainer
        compose_source_type: template
        compose_template_src: "templates/docker-compose/portainer.compose.yaml.j2"
        compose_paths:
          - path: "{{ portainer_data_dir }}"
            create: true
            uid: 1000
            gid: 1000
            mode: "0755"

