---
- import_playbook: l3-converge-arch-all.yml
- import_playbook: l3-converge-arch-docker-compose.yml
- import_playbook: l3-converge-docker-monitoring.yml
- import_playbook: l3-converge-arch-devops.yml

