---
- name: Baseline Ubuntu convergence
  hosts: ubuntu_legacy:ubuntu_tinker
  gather_facts: true
  become: true

  roles:
    - { role: ubuntu_base,       tags: ["ubuntu_base"] }
    - { role: ubuntu_hardening,  tags: ["ubuntu_hardening"] }
    - { role: ubuntu_shell,      tags: ["ubuntu_shell"] }
    - { role: common_backup_runner,   tags: ["ubuntu_backup"] }
    # - { role: arch_services,   tags: ["arch_services"] }
    # - { role: arch_monitoring, tags: ["arch_monitoring"] }
    # - { role: dotfiles,        tags: ["ubuntu_dotfiles"] }
    # - { role: arch_aur,        when: arch_aur_enabled | default(false), tags: ["arch_aur"] }

- name: Ubuntu Tinker convergence
  hosts: ubuntu_tinker
  gather_facts: true
  become: true

  roles:
    - { role: ubuntu_docker_compose,        tags: ["ubuntu_docker"] }

- name: Docker Compose monitoring services
  hosts: docker_compose_monitoring
  become: yes
  gather_facts: yes
  tags: [docker_compose_monitoring]

  roles:
    - role: common_docker_compose_services
      vars:
        compose_app_name: monitoring
        compose_source_type: template
        compose_template_src: "templates/docker-compose/monitoring.compose.yaml.j2"
