---
- name: Baseline Arch convergence
  hosts: arch_devops:arch_tinker
  gather_facts: true
  become: true

  roles:
    - { role: arch_base,       tags: ["arch_base"] }
    - { role: arch_hardening,  tags: ["arch_hardening"] }
    - { role: arch_services,   tags: ["arch_services"] }
    - { role: arch_monitoring, tags: ["arch_monitoring"] }
    - { role: dotfiles,        tags: ["arch_dotfiles"] }
    - { role: arch_aur,        when: arch_aur_enabled | default(false), tags: ["arch_aur"] }

- name: Arch DevOps convergence
  hosts: arch_devops
  gather_facts: true
  become: true

  roles:
    - { role: arch_devops,     tags: ["arch_devops"] }

- name: Arch Tinker convergence
  hosts: arch_tinker
  gather_facts: true
  become: true

  roles:
    - { role: arch_desktop,    when: arch_desktop_enabled | default(false), tags: ["arch_desktop"] }
