# Managed by Ansible (common_node_exporter role).
# Local changes will be overwritten.

NODE_EXPORTER_OPTS="{% for flag in common_node_exporter_extra_flags %}{{ flag }}{% if not loop.last %} {% endif %}{% endfor %}"
